<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Download Example</title>
    <link href="../static/assets/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<h1>Download Example</h1>
<button onclick="downloadFile()">Download File</button>


<div class="container">
    <div class="row">
        <div class="col-md-12">
<!--            此处跳转到函数download()-->
            <a href="/download" class="btn btn-primary">Download File</a>
        </div>
    </div>
</div>

</body>
</html>
